<div class="mw7 center f4-m white ph1">
    <div class="fw9 mb3">{{ .heading }}</div>
    {{ range $index, $element := .content }}
    {{ if modBool $index 2 }}
    <div class="flex-m flex-row-m flex-wrap-m fw9 lh-copy ">
        <div class="bt br-m b--grey-1 w-50-m pa3 w-80 center">
            <h3 class="{{ if modBool $index 4 }}purple{{else}}cyan{{end}} f3 mb2">{{ .heading }}</h3>
            <p>{{ .text }}</p>
        </div>
        {{ else }}
        <div class="bt b--grey-1 w-50-m pa3 w-80 center">
            <h3 class="{{ if modBool (sub $index 1) 4 }}purple{{else}}cyan{{end}} f3 mb2">{{ .heading }}</h3>
            <p>{{ .text }}</p>
        </div>
    </div>
    {{ end }}
    {{ end }}
    {{ if .moreLink  }}
    <div class="mt4-m">
        {{ partial "cta" (dict "moreLink" .moreLink "linkUrl" .linkUrl)}}
    </div>
    {{ end }}
</div>