{{ partial "title" (dict "heading" .heading) }}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner ">
        {{ range $index, $element := .lists }}
        <div class="item {{ if eq $index 0}}active{{ end }}">
            <div class="f5-m fw6 pa4 tc">
                <img src="/img/SVG/quote-mark.svg" alt="" class="h2 w2" />
                <div class="bt b--black w-50 mv2 center"></div>
                <p>{{ .text }}</p>
                <h3 class="b mt4">{{ .name }}</h3>
                <span class="f6-m normal">{{ .company }}</span>
            </div>
        </div>
        {{ end }}
    </div>

    <!-- Left and right controls -->
    <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right icon-next"></span>
    </a> -->
</div>