{{ define "footer" }}
{{ partial "social-media" . }}
<footer>
	<div class="w-100 bg-dark-blue relative z-max">
		<div class="nav-container">
			<div class="logo">
				<a href="/">
					<img src="/img/cell5/cell-5-logo-black.svg" alt="Cell 5 logo" />
				</a>
			</div>
			<div class="navbar">
				<ul id="nav-lists">
					<li class="close">
						<span onclick="Hide()">
							<img src="/img/icons/icons-close.svg" width="30" height="30" />
						</span>
					</li>
					<li><a href="#">Who we are</a></li>
					<li><a href="#">Our Work</a></li>
					<li><a href="#">How We Work</a></li>
					<li><a href="#">Our Values</a></li>
					<li><a href="#">Tech We Know</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<script src="/app.js"></script>
<script>
	var navList = document.getElementById("nav-lists");
	var drawer = document.getElementById("drawer-nav");
	function Show() {
		navList.classList.add("_Menus-show");
		drawer.classList.add("drawer-open");
	}

	function Hide() {
		navList.classList.remove("_Menus-show");
		drawer.classList.remove("drawer-open");
	}

</script>
{{ end }}