<div class="bg-gradient-1">
    <div class="row w-100">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h1>
                {{.title}}
            </h1>
            {{ if .subtitle }}
            <p>
                {{.subtitle | markdownify }}
            </p>
            {{ end }}
            <button>
                Get Started
            </button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img src="{{ .bannerImg }}" />
        </div>
    </div>
</div>