<section class="home view-wrapper bg-gradient-1 white">
    <div class="mw9 center relative z-1 pt5 ph4">
        <div class="flex-m flex-row-m flex-wrap-m">
            <div class="flex-none w-50-m">
                <h1> {{ .header }}</h1>
                <h2> {{ .subHeader }}</h2>
                {{ .text | markdownify }}
            </div>
            <div class="flex-none w-50-m">
                <img src="{{ .bannerImg }}" class="dn-ns" />
            </div>
        </div>
    </div>
    <svg viewBox="0 0 1920 395" aria-hidden="true" class="absolute bottom-0">
        <use xlink:href="#dark-bg-waves"></use>
    </svg>
</section>