<div class="w-100 bg-black-2">
	<div class="nav-container">
		<div class="logo">
			<a href="/">
				<img src="/img/cell5/cell-5-logo-black.svg" alt="Cell 5 logo" />
			</a>
		</div>
		<div class="navbar">
			<div class="icon-bar" onclick="Show()">
				<i></i>
				<i></i>
				<i></i>
			</div>
			<div id="drawer-nav" onclick="Hide()">
				<ul id="nav-lists">
					<li class="close">
						<span onclick="Hide()">
							<img src="/img/icons/icons-close.svg" width="30" height="30" />
						</span>
					</li>
					<li><a href="#">Who we are</a></li>
					<li><a href="#">Our Work</a></li>
					<li><a href="#">How We Work</a></li>
					<li><a href="#">Our Values</a></li>
					<li><a href="#">Tech We Know</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>