<div class="mw9 center h-100 relative ph5 tl">
    {{ range $index, $element := .lists }}
    {{ if modBool $index 3 }}
    <div class="flex-m flex-row-m flex-wrap-m">
        {{ end }}
        <div class="w-third-m">
            <div class="pa3 h-100">
                <div class="card pa4">
                    <span class="black underline f8 b">{{ .group }}</span>
                    <div class="home-techs-gallery">
                        {{ range $index, $element := .tech }}
                        <img src="{{ .imageUrl }}" />
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        {{ if modBool (add $index 1) 3 }}
    </div>
    {{ end }}
    {{ end }}
</div>