/* Text colors */

.primary {
  color: var(--primary);
}

.purple {
  color: var(--purple);
}

.cyan {
  color: var(--cyan);
}


.highlight {
  color: var(--highlight);
}

.white {
  color: var(--white);
}

.off-white {
  color: var(--off-white);
}

.grey-1 {
  color: var(--grey-1);
}

.grey-2 {
  color: var(--grey-2);
}

.grey-3 {
  color: var(--grey-3);
}

.grey-4 {
  color: var(--grey-4);
}

.black {
  color: var(--black-1);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-light-purple {
  background-color: var(--light-purple);
}

.bg-dark-blue{
  background-color: var(--dark-blue);
}

.bg-highlight {
  background-color: var(--highlight);
}

.bg-white {
  background-color: var(--white);
}

.bg-off-white {
  background-color: var(--off-white);
}

.bg-grey-1 {
  background-color: var(--grey-1);
}

.bg-grey-2 {
  background-color: var(--grey-2);
}

.bg-grey-3 {
  background-color: var(--grey-4);
}

.bg-grey-4 {
  background-color: var(--grey-4);
}

.bg-black-1 {
  background-color: var(--black-1);
}

.bg-black-2 {
  background-color: var(--black-2);
}

.bg-gradient-1 {
    background: var(--gradient-1);
}