{{ define "main" }}

<div class="view-wrapper bg-black-2">
    <div class="mw9 center relative z-1 pv4-m ph4">
        <div class="people flex-m flex-row-m flex-wrap-m">
            <div class="w-60-m relative">
                <div class="white f1 f-5-m fw9 lh-copy">
                    {{ .Params.title }}
                </div>
            </div>
            <div class="w-40-m relative">
                <img src="{{ .Params.imageUrl }}" class="w-80 absolute-m dn db-m" />
            </div>
        </div>
    </div>
    {{ partial "waves" (dict "svg" "waves-1" "viewbox" "0 0 1920 388") }}
</div>
<div class="view-wrapper bg-white">
    <div class="pv4-m">
        {{ partial "people-widget" (dict "people" .Params.people )}}
    </div>
</div>

{{ partial "svg-waves" . }}
<script>
    function ShowPeopleData(element) {
        let jsonData = JSON.parse(element);

        document.getElementById("name-data").innerHTML = jsonData.name;
        document.getElementById("title-data").innerHTML = jsonData.title;
        document.getElementById("bio-data").innerHTML = jsonData.bio;
    }

</script>

{{ end }}