/*variables*/
@import "./imports/_variable";
@import "./imports/_media-queries";

/*Elemnts CSS*/
@import "./imports/_borders";
@import "./imports/_border-colors";
@import "./imports/_colors";
@import "./imports/_coordinates";
@import "./imports/_flexbox";
@import "./imports/_font-style";
@import "./imports/_font-weight";
@import "./imports/_heights";
@import "./imports/_line-height";
@import "./imports/_max-widths";
@import "./imports/_positions";
@import "./imports/_spacing";
@import "./imports/_text-align";
@import "./imports/_text-transform";
@import "./imports/_type-scale";
@import "./imports/_widths";
@import "./imports/_z-index";


/*Custom CsS*/
@import "./imports/carousel";
@import "./imports/custom_nav";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: var(--font-size);
}

svg{
    fill: currentColor;
    fill-rule:evenodd;
    clip-rule:evenodd;
    max-width: 100%;
    display: block;
}

button {
    border: none;
    outline: none;
    color: inherit;
    border-radius: 5px;
    font-size: inherit;
    font-family: inherit;
    padding: 5px 50px;
}

img {
    max-width: 100%;
}

@media screen and (--breakpoint-medium) {
  html {
    font-size: 2vw;
  }
}

@media screen and (--breakpoint-extra-large) {
  html {
    font-size: 1em;
  }
}

/*-- These are custom CSS for Shapes -- */
.h-line{
    border-top: 2px solid #000000;
    width: 50%;
    margin: 20px auto;
}

/*-- These are custom CSS for Containers -- */
/*Box*/
.container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: white;
    width: 100%;
    height: 100%;
    display: block;
}

.view-wrapper {
    height: calc(100% - 5px);
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.card {
    background: #FFFFFF;
    border-radius: 5px;
    height: 100%;
}

/*-- These are custom CSS for HTML tags -- */
/*List*/
.social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.social-media ul li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  cursor: pointer;
}

.checklist li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

/*Heading*/
.blog-1 h3 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #AA6BF1;
    margin-bottom: 1rem;
}

.blog-2 h3{
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #46D9FC;
    margin-bottom: 1rem;
}

/*Paragraph*/
.blog p {
    padding: var(--spacing-large);
}

/*-- These are custom CSS for alignment and positions -- */
/*Horizontal Alignment*/
.center {
    margin-right: auto;
    margin-left: auto;
}


/*-- These are custom CSS by Page-- */
/*Home Page*/
.home h1 {
    font-size: 9rem;
    font-weight: 900;
}

.home h2 {
    font-size: 5rem;
    font-weight: bold;
}

.home p {
    font-size: 2.5rem;
    font-weight: bold;
}

.home-techs-gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

.home-techs-gallery img{
    margin: 10px;
    max-width: 60px;
    height: 60px;
}

/*People Page*/
.people-gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

.people-gallery img {
    margin: 10px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 150px;
    height: 150px;
}

@media only screen and (--breakpoint-medium) {
    .people img {
        position: absolute;
        width: 80%;
    }
}


