/*variables*/
@import "./imports/_variable";
@import "./imports/_media-queries";

/*Elemnts CSS*/
@import "./imports/_colors";
@import "./imports/_coordinates";
@import "./imports/_font-style";
@import "./imports/_font-weight";
@import "./imports/_heights";
@import "./imports/_line-height";
@import "./imports/_max-widths";
@import "./imports/_positions";
@import "./imports/_spacing";
@import "./imports/_text-align";
@import "./imports/_text-transform";
@import "./imports/_type-scale";
@import "./imports/_widths";
@import "./imports/_z-index";


/*Custom CsS*/
@import "./imports/carousel";
@import "./imports/bootstrap";
@import "./imports/custom_nav";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: var(--font-size);
}

svg{
    fill: currentColor;
    fill-rule:evenodd;
    clip-rule:evenodd;
    max-width: 100%;
    display: block;
}

button {
    border: none;
    outline: none;
    color: inherit;
    border-radius: 5px;
    font-size: inherit;
    font-family: inherit;
    padding: 5px 50px;
}

img {
    max-width: 100%;
}

/*-- These are custom CSS for Shapes -- */
.v-line{
    border-left: 2px solid #D2D2D2;
    height: 75%;
}

/*-- These are custom CSS for Containers -- */
/*Box*/
.container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: white;
    width: 100%;
    height: 100%;
    display: block;
}

/*Table*/
.container-table {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
}

.container-table .col {
    display: table-cell;
    width: 50%;
    border-top: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    padding: 2rem 1rem;
}

.container-table .col:last-child {
    border-right: none;
}

.view-wrapper {
    height: calc(100% - 5px);
    position: relative;
    -webkit-overflow-scrolling: touch;
}

/*-- These are custom CSS for HTML tags -- */
/*List*/
.social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.social-media ul li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  cursor: pointer;
}

.checklist li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

/*Heading*/
.blog-1 h3 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #AA6BF1;
    margin-bottom: 1rem;
}

.blog-2 h3{
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #46D9FC;
    margin-bottom: 1rem;
}

/*Paragraph*/
.blog p {
    padding: var(--spacing-large);
}

/*-- These are custom CSS for alignment and positions -- */
/*Horizontal Alignment*/
.center {
    margin-right: auto;
    margin-left: auto;
}


/*-- These are custom CSS by Page-- */
/*Home Page*/
.home .banner{
    font-size: 5.625rem;
    font-weight: bold;
    line-height: 7.5rem;
    margin-bottom: var(--spacing-large);
}

.home .banner p:first-of-type{
    font-size: 9.375rem;
    font-weight: 900;
}

.home .text{
    font-size: 2.5rem;
    font-weight: bold;
}

.clients img {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}