{{ define "main" }}

{{ partial "home" .Params }}
<section>
    {{ partial "wide-text" (dict "text" .Params.text) }}
</section>
<div class="mw8 center">
    {{ range $index, $element := .Params.preludes }}
    {{ if modBool $index 2 }}
    <section>
        {{ partial "media-block" $element }}
    </section>
    {{ else }}
    <section>
        {{ partial "media-block-reverse" $element }}
    </section>
    {{ end }}
    {{ end }}
</div>
<section>
    {{ partial "wide-text" (dict "text" .Params.footer) }}
</section>

{{ end }}