{{ define "main" }}

{{ partial "home" .Params }}

<section class="view-wrapper bg-black-2 tc white">
    {{ partial "blog-table" .Params.OurWork }}
    {{ partial "waves" (dict "svg" "waves-1" "viewbox" "0 0 1920 388") }}
</section>
<section class="view-wrapper tc bg-white">
    <div class="mw9 center h-100 relative">
        <div class="absolute absolute--center v-line"></div>
        <div class="row w-100">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ph4">
                {{ partial "blog-media" .Params.WhoWeAre}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ph4">
                {{ partial "blog-media" .Params.HowWeWork}}
            </div>
        </div>
    </div>
    {{ partial "waves" (dict "svg" "waves-2" "viewbox" "0 0 1920 395") }}
</section>
<section class="view-wrapper bg-black-2 tc white">
    {{ partial "title" .Params.TechWeKnow }}
    <div class="f3 tc lh-header">
        {{ partial "wide-text" .Params.TechWeKnow }}
    </div>
    {{ partial "waves" (dict "svg" "waves-3" "viewbox" "0 0 1920 397") }}
</section>
<section class="view-wrapper tc bg-white">
    <div class="mw9 center h-100 relative">
        <div class="absolute absolute--center v-line"></div>
        <div class="row w-100">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ph4">
                {{ partial "title" .Params.qualifications }}
                {{ partial "checklist" .Params.qualifications }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ph4">
            </div>
        </div>
        <div class="white">
            {{ partial "cta" (dict "moreLink" .Params.moreLink "linkUrl" .Params.linkUrl)}}
        </div>
    </div>
</section>

{{ partial "svg-waves" . }}

{{ end }}